@import "../../../style/theme.scss";
@import "../../../style/mixins.scss";

.style-button {
  @include buttonStyle($bg-color3);
}

.style-refresh-button{
  color: $--other--green !important;
}

.close-modal-button {
  @include buttonStyle($bg-color3);
}

.cloud-logo {
  height: 40px;
}

.table-head {
  height: 60px;
  background-color: $--neutral--2;
}

.ip-hide{
  opacity: 0.4;
  pointer-events: none;
}

.table-head-typography {
  color: $--neutral--7;
}

.style-typography {
  color: $--neutral--7;
}

.ip-link {
  text-decoration: none;
  color: black;
}

.overflow-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-data-row{
  text-align: center !important;
  font-size: large !important;
  font-weight: bold !important;
  color: $--neutral--7 !important;
}

.ip-link-icon {
  font-size: 15px !important;
  color: $--primary--1;
}

.log-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background-color: $white;
  box-shadow: 24;
  padding: 4;
  border-radius: 10px;
}

.log-header{
  color: $--neutral--7;
  font-weight: bold;
}

.log-data{
  color: $--neutral--7;
}

.log-modal-header,
.log-modal-footer {
  background-color: $sidebar-bg;
  height: 50px;
}
.log-modal-content {
  height: 400px;
  overflow-y: auto;
}
.log-icon {
  color: $--neutral--7;
}
