@import "./../../../style/theme.scss";

.input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
  .input-label {
    width: 40%;
    color: $--neutral--9;
    text-align: end;
  }
  .input-text-field {
    width: 50%;
  }
}

.stepper {
  // border:1px solid black;
  height: 126px;
  box-shadow: 0px 8px 24px 4px rgba(31, 44, 55, 0.1);
  border-radius: 4px;
  .inside {
    margin: auto;
    padding-top: 2%;
    .step-logo {
      height: 30px;
    }
    text {
      font-size: 15px;
    }
    span {
      font-size: 16.5px;
      .Mui-active {
        font-weight: 600;
      }
    }
  }
}

.step-box {
  position: relative;
  box-shadow: 0px 8px 24px 4px rgba(31, 44, 55, 0.1);
  border-radius: 4px;
  min-height: 440px;
  .btn-grp {
    position: absolute;
    text-align: end;
    padding: 10px;
    right: 20px;
    bottom: 20px;
    color: white;
    .btn {
      width: 125px;
    }
    .back-btn {
      background-color: #6c757d;
      margin-right: 10px;
    }
  }
}

.no-firewall {
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 10% 0px;
  .heading5 {
    margin: 2% 0% 5% 0%;
    font-weight: 400;
    color: #bdbdbd;
  }
  .btn2 {
    width: 200px;
  }
}
.paper {
  height: 156px;
  box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.11),
    0px 5.43109px 10.0266px rgba(0, 0, 0, 0.079074),
    0px 2.90372px 5.36071px rgba(0, 0, 0, 0.0655718),
    0px 1.6278px 3.00517px rgba(0, 0, 0, 0.055),
    0px 0.864513px 1.59602px rgba(0, 0, 0, 0.0444282),
    0px 0.359743px 0.664142px rgba(0, 0, 0, 0.030926);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cloud-provider-logo {
    height: 60%;
  }
}

.yo {
  color: red;
}
