$bg-color1: #794202;
$bg-color2: #8A4302;
$bg-color3: #E04D26;
$white: white;
$bg-read: #CD6F00;
$bg-login-register: #E04D26;
$form-width: 50vh;
$sidebar-bg: #EEEEEE;
$login-register-button-height: 50px;

/* Color styles */
$--neutral--1: rgba(253, 253, 253, 1);
$--neutral--2: rgba(236, 241, 246, 1);
$--neutral--3: rgba(227, 233, 237, 1);
$--neutral--4: rgba(209, 216, 221, 1);
$--neutral--5: rgba(191, 198, 204, 1);
$--neutral--6: rgba(156, 164, 171, 1);
$--neutral--7: rgba(120, 130, 138, 1);
$--neutral--8: rgba(102, 112, 122, 1);
$--neutral--9: rgba(67, 78, 88, 1);
$--neutral--10: rgba(31, 44, 55, 1);
$--primary--1: rgba(238, 88, 45, 1);
$--primary--4: rgba(190, 70, 36, 1);
$--primary--5: rgba(143, 53, 27, 1);
$--primary--2: rgba(248, 188, 171, 1);
$--primary--3: rgba(245, 155, 129, 1);
$--other--red: rgba(220, 53, 69, 1);
$--other--yellow: rgba(255, 193, 7, 1);
$--other--green: rgba(25, 135, 84, 1);


/* Effect styles */
$--shadow--1:  0px 8px 24px rgba(31, 44, 55, 0.1);
$--shadow--2:  0px 12px 32px rgba(31, 44, 55, 0.12);
$--shadow--3:  2px 16px 40px rgba(31, 44, 55, 0.16);
/* Heading text size styles */
/* base size: heading--regular--1 (144px) */
$--heading--regular--1: 1rem;
$--heading--regular--2: 0.89rem;
$--heading--regular--3: 0.78rem;
$--heading--regular--4: 0.67rem;
$--heading--regular--4: 0.61rem;
$--heading--regular--5: 0.56rem;
$--heading--medium--1: 1rem;
$--heading--medium--2: 0.89rem;
$--heading--medium--3: 0.78rem;
$--heading--medium--4: 0.67rem;
$--heading--medium--5: 0.61rem;
$--heading--medium--6: 0.56rem;
$--heading--bold--1: 1rem;
$--heading--bold--2: 0.89rem;
$--heading--bold--3: 0.78rem;
$--heading--bold--4: 0.67rem;
$--heading--bold--5: 0.61rem;
$--heading--bold--6: 0.56rem;
$--heading--extrabold--1: 1rem;
$--heading--extrabold--2: 0.89rem;
$--heading--extrabold--3: 0.78rem;
$--heading--extrabold--4: 0.67rem;
$--heading--extrabold--5: 0.61rem;
$--heading--extrabold--6: 0.56rem;



/* Subtitle text size styles */
$--subtitle--regular--1: 0.5rem;
$--subtitle--regular--2: 0.44rem;
$--subtitle--regular--3: 0.39rem;
$--subtitle--regular--4: 0.33rem;
$--subtitle--regular--5: 0.28rem;
$--subtitle--regular--6: 0.22rem;
$--subtitle--medium--1: 0.5rem;
$--subtitle--medium--2: 0.44rem;
$--subtitle--medium--3: 0.39rem;
$--subtitle--medium--4: 0.33rem;
$--subtitle--medium--5: 0.28rem;
$--subtitle--medium--6: 0.22rem;
$--subtitle--bold--1: 0.5rem;
$--subtitle--bold--2: 0.44rem;
$--subtitle--bold--3: 0.39rem;
$--subtitle--bold--4: 0.33rem;
$--subtitle--bold--5: 0.28rem;
$--subtitle--bold--6: 0.22rem;
$--subtitle--extrabold--1: 0.5rem;
$--subtitle--extrabold--2: 0.44rem;
$--subtitle--extrabold--3: 0.39rem;
$--subtitle--extrabold--4: 0.33rem;
$--subtitle--extrabold--5: 0.28rem;
$--subtitle--extrabold--6: 0.22rem;
/* Other text size styles */
$--caption--medium--1: 0.17rem;
$--caption--medium--2: 0.14rem;
$--caption--regular--1: 0.17rem;
$--caption--regular--2: 0.14rem;
$--bodytext--medium--1: 0.11rem;
$--bodytext--medium--2: 0.1rem;
$--bodytext--regular--1: 0.11rem;
$--bodytext--regular--2: 0.1rem;
$--detail--medium--1: 0.08rem;
$--detail--medium--2: 0.07rem;
$--detail--regular--1: 0.08rem;
$--detail--regular--2: 0.07rem;
