@import '../../style/mixins.scss';
@import '../../style/theme.scss';

.leftContent{
    padding-left: 10vw;
    @include rwd(900){
        padding-left: 2vw;
    }
    @include lg{
        padding-left: 5vw;
    }
    @include xl{
        padding-left: 10vw;
    }
}
.registerFormField{
    width: $form-width;
}
.registerButton{
    width: $form-width;
    height: $login-register-button-height;
    @include buttonStyle($bg-login-register);
    color: white !important;
}