@import "../../style/theme.scss";
@import "../../style/mixins.scss";

// login-register style

.gridLeft {
  background: linear-gradient($bg-color1, $bg-color2, $bg-color3);
  color: $white;
}
.gridMain {
  height: 100vh;
}
.readButton {
  margin-top: 20px !important;
  border-radius: 50px !important;
  @include buttonStyle($bg-read);
}

// sidebar style
.sideBar {
  background: $sidebar-bg;
}

.logo {
  height: 60px;
}
.smallLogo {
  height: 40px;
  margin-left: -19px;
  cursor: pointer;
}
.singleMenu {
  :hover {
    background-color: $sidebar-bg;
  }
}
