@import "../../../style/theme";
.container {
  padding-bottom: 100px;
  width: 100%;
  margin-top: -40px;
  .summary-head {
    padding-bottom: 20px;
    color: $--neutral--9;
    font-weight: 600;
    p {
      font-weight: 600;
    }
  }
}

.accordion {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: none;
  .summary {
    background: #f5f5f5;
    p {
      font-weight: 600;
      font-size: 20px;
      color: $--neutral--9;
    }
  }
}

.box-row {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  .first-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    // border:1px solid black;
    .typography {
      width: 110%;
      padding-left: 15%;
      color: $--neutral--9;
      // font-size: 16px;
      font-weight: 600;
      // align-items: flex-start;
      // float: left;
      text-align: start;
    }
    .details {
      width: 100%;
      padding-left: 5%;
      // align-items: flex-end;
      // float: right;
      text-align: start;
    }
    .icon-button {
      width: 100%;
      text-align: end;
    }
    .logo-in-summary {
      text-align: center;
      height: 40px;
    }
    img {
      vertical-align: middle;
    }
  }
}
